<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ActicitiRoleConfig -->
<mapper namespace="com.boco.SYS.mapper.ActicitiRoleConfigMapper">
	<!-- ##############################################批量生成方法########################################### -->
	<cache readOnly="true"/>
	<!-- 返回列表 -->
    <resultMap id="base_result_map" type="com.boco.SYS.entity.ActicitiRoleConfig">
       	<id column="TASK_ID" property="taskId"/>
       	<id column="ROLE_CODE" property="roleCode"/>
       	<id column="ORGAN_LEVEL" property="organLevel"/>
       	<id column="CUST_TYPE" property="custType"/>
       	<id column="ACTIVITI_TYPE" property="activitiType"/>
     	<result column="APP_STATUS" property="appStatus"/>
    </resultMap>

	<!-- 列集合 -->
	<sql id="base_column_list">
	    <![CDATA[
        TASK_ID ,ROLE_CODE ,ORGAN_LEVEL ,CUST_TYPE ,APP_STATUS ,ACTIVITI_TYPE 
	    ]]>
	</sql>
	
	<!-- 新增一条实体 -->
    <insert id="insertEntity" parameterType="com.boco.SYS.entity.ActicitiRoleConfig">
<!-- 
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">  
	       SELECT SQ_WEB_PUB.Nextval as ID from DUAL
	    </selectKey>
	    -->       
  INSERT INTO ACTICITI_ROLE_CONFIG 
        <trim prefix="(" suffix=")" suffixOverrides=",">
	       	<if test="taskId != null">
	        	TASK_ID ,
	       	</if>
	       	<if test="roleCode != null">
	        	ROLE_CODE ,
	       	</if>
	       	<if test="organLevel != null">
	        	ORGAN_LEVEL ,
	       	</if>
	       	<if test="custType != null">
	        	CUST_TYPE ,
	       	</if>
	       	<if test="appStatus != null">
	        	APP_STATUS ,
	       	</if>
	       	<if test="activitiType != null">
	        	ACTIVITI_TYPE ,
	       	</if>
	       		last_mod_stamp
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	       	<if test="taskId != null">
	        	#{taskId} ,
	       	</if>
	       	<if test="roleCode != null">
	        	#{roleCode} ,
	       	</if>
	       	<if test="organLevel != null">
	        	#{organLevel} ,
	       	</if>
	       	<if test="custType != null">
	        	#{custType} ,
	       	</if>
	       	<if test="appStatus != null">
	        	#{appStatus} ,
	       	</if>
	       	<if test="activitiType != null">
	        	#{activitiType} ,
	       	</if>
	       		to_char(current_timestamp,'yyyyMMddHH24MISSMS')
        </trim>
    </insert>
    
    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ACTICITI_ROLE_CONFIG 
        (TASK_ID ,ROLE_CODE ,ORGAN_LEVEL ,CUST_TYPE ,APP_STATUS ,ACTIVITI_TYPE ,last_mod_stamp )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
        	(SELECT #{item.taskId,jdbcType=VARCHAR},#{item.roleCode,jdbcType=VARCHAR},#{item.organLevel,jdbcType=VARCHAR},#{item.custType,jdbcType=VARCHAR},#{item.appStatus,jdbcType=VARCHAR},#{item.activitiType,jdbcType=VARCHAR},to_char(current_timestamp,'yyyyMMddHH24MISSMS') FROM DUAL)
        </foreach>
    </insert>
    
    <!-- 根据主键删除一条记录 -->
    <delete id="deleteByPK" parameterType="java.util.HashMap">
        DELETE FROM ACTICITI_ROLE_CONFIG 
        <where>
        	TASK_ID = #{taskId} and
        	ROLE_CODE = #{roleCode} and
        	ORGAN_LEVEL = #{organLevel} and
        	CUST_TYPE = #{custType} and
        	ACTIVITI_TYPE = #{activitiType} 
		</where>
    </delete>
    
    <!-- 根据主键删除一条记录(不抛异常,适用先删除后新增的功能,删除时如果没数据不抛异常) -->
    <delete id="deleteByPKNoException" parameterType="java.util.HashMap">
        DELETE FROM ACTICITI_ROLE_CONFIG 
        <where>
        	TASK_ID = #{taskId} and
        	ROLE_CODE = #{roleCode} and
        	ORGAN_LEVEL = #{organLevel} and
        	CUST_TYPE = #{custType} and
        	ACTIVITI_TYPE = #{activitiType} 
		</where>
    </delete>
    
    <!-- 根据主键批量删除记录(只适用单主键的表) -->
    <delete id="deleteBatchByPK" parameterType="java.util.List">
        DELETE FROM ACTICITI_ROLE_CONFIG 
        WHERE TASK_IDROLE_CODEORGAN_LEVELCUST_TYPEACTIVITI_TYPE IN 
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
    </delete>
	
	<!-- 自定义where条件删除，参数为where后的条件字符串，如"id='1' and name='a'" -->    
    <delete id="deleteByWhere" parameterType="java.lang.String">
        DELETE FROM ACTICITI_ROLE_CONFIG
        <where>
        	${whereStr}
        </where>
    </delete>

	<!-- 根据主键修改一条记录 -->
    <update id="updateByPK" parameterType="com.boco.SYS.entity.ActicitiRoleConfig">
        UPDATE ACTICITI_ROLE_CONFIG 
        <set>
       	<if test="appStatus != null">
       		APP_STATUS = #{appStatus},
       	</if>
       		last_mod_stamp = to_char(current_timestamp,'yyyyMMddHH24MISSMS'),
        </set>
        <where>
        	TASK_ID = #{taskId} and
        	ROLE_CODE = #{roleCode} and
        	ORGAN_LEVEL = #{organLevel} and
        	CUST_TYPE = #{custType} and
        	ACTIVITI_TYPE = #{activitiType} 
        </where>
    </update>
    
    <!-- 批量修改，参数：map(column="XXX"，keyList="XXX")-->
    <update id="updateBatch" parameterType="java.util.HashMap">
	    UPDATE ACTICITI_ROLE_CONFIG 
		<set>
        </set>
        WHERE id IN 
	    <foreach collection="keyList" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
	</update>
     
    <!-- 自定义where条件修改，参数为where后的条件字符串，如"id='1' and name='a'" -->
    <update id="updateByWhere" parameterType="java.lang.String">
        UPDATE ACTICITI_ROLE_CONFIG 
        <set>
       	<if test="taskId != null">
       		TASK_ID = #{taskId},
       	</if>
       	<if test="roleCode != null">
       		ROLE_CODE = #{roleCode},
       	</if>
       	<if test="organLevel != null">
       		ORGAN_LEVEL = #{organLevel},
       	</if>
       	<if test="custType != null">
       		CUST_TYPE = #{custType},
       	</if>
       	<if test="appStatus != null">
       		APP_STATUS = #{appStatus},
       	</if>
       	<if test="activitiType != null">
       		ACTIVITI_TYPE = #{activitiType},
       	</if>
       		last_mod_stamp = to_char(current_timestamp,'yyyyMMddHH24MISSMS'),
        </set>
        <where>
       		${whereStr}
       	</where>
    </update>
    
    <!-- 动态where -->
    <sql id="where_equal">
	 	<if test="taskId != null and taskId != ''">
	 		and TASK_ID = #{taskId}
	 	</if>
	 	<if test="roleCode != null and roleCode != ''">
	 		and ROLE_CODE = #{roleCode}
	 	</if>
	 	<if test="organLevel != null and organLevel != ''">
	 		and ORGAN_LEVEL = #{organLevel}
	 	</if>
	 	<if test="custType != null and custType != ''">
	 		and CUST_TYPE = #{custType}
	 	</if>
	 	<if test="appStatus != null and appStatus != ''">
	 		and APP_STATUS = #{appStatus}
	 	</if>
	 	<if test="activitiType != null and activitiType != ''">
	 		and ACTIVITI_TYPE = #{activitiType}
	 	</if>
    </sql>
    
    <!-- 模糊查询动态where -->
    <sql id="where_like">
 		<if test="taskId != null and taskId != ''">
 			and TASK_ID like '%' || #{taskId} || '%'
 		</if>
 		<if test="roleCode != null and roleCode != ''">
 			and ROLE_CODE like '%' || #{roleCode} || '%'
 		</if>
 		<if test="organLevel != null and organLevel != ''">
 			and ORGAN_LEVEL like '%' || #{organLevel} || '%'
 		</if>
 		<if test="custType != null and custType != ''">
 			and CUST_TYPE like '%' || #{custType} || '%'
 		</if>
 		<if test="appStatus != null and appStatus != ''">
 			and APP_STATUS like '%' || #{appStatus} || '%'
 		</if>
 		<if test="activitiType != null and activitiType != ''">
 			and ACTIVITI_TYPE like '%' || #{activitiType} || '%'
 		</if>
    </sql>

    <!-- 根据主键查询一条记录 -->
    <select id="selectByPK" parameterType="java.util.HashMap" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/>
        FROM ACTICITI_ROLE_CONFIG 
        <where> 
        	TASK_ID = #{taskId} and
        	ROLE_CODE = #{roleCode} and
        	ORGAN_LEVEL = #{organLevel} and
        	CUST_TYPE = #{custType} and
        	ACTIVITI_TYPE = #{activitiType} 
        </where>
    </select>
    
    <!-- 根据非主键唯一约束查询记录,没有唯一约束时查询所有记录 -->
    <select id="selectByUQ" parameterType="com.boco.SYS.entity.ActicitiRoleConfig" resultMap="base_result_map" flushCache="true">
    	SELECT <include refid="base_column_list"/> FROM ACTICITI_ROLE_CONFIG
		<where>
		</where>
	</select>
    
    <!-- 根据条件查询记录 -->
    <select id="selectByAttr" parameterType="com.boco.SYS.entity.ActicitiRoleConfig" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/> FROM ACTICITI_ROLE_CONFIG 
	    <where>
	   		<include refid="where_equal"/>
	    </where>
	    <if test="sortColumn != null and sortColumn != ''">
    		order by ${sortColumn}
    	</if>
    </select>

	<!-- 根据模糊条件查询记录 -->
    <select id="selectByLikeAttr" parameterType="com.boco.SYS.entity.ActicitiRoleConfig" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM ACTICITI_ROLE_CONFIG 
        <where>
        	<include refid="where_like"/>
        </where>
        <if test="sortColumn != null and sortColumn != ''">
    		group by ${sortColumn}
    	</if>
    </select>
    
    <!-- 通过where语句查询 -->
    <select id="selectByWhere" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM ACTICITI_ROLE_CONFIG 
        <where>
        	${whereStr}
        </where>
    </select>
    
    <!-- 根据条件查询记录数 -->
    <select id="countByAttr" parameterType="com.boco.SYS.entity.ActicitiRoleConfig" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from ACTICITI_ROLE_CONFIG 
    	<where>
    		<include refid="where_equal"/>
    	</where>
    </select>
    
    <!-- 根据模糊条件查询记录数 -->
    <select id="countByLikeAttr" parameterType="com.boco.SYS.entity.ActicitiRoleConfig" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from ACTICITI_ROLE_CONFIG 
    	<where>
    		<include refid="where_like"/>
    	</where>
    </select>
    
    <!-- 根据自定义条件查询记录数 -->
    <select id="countByWhere" parameterType="java.lang.String" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from ACTICITI_ROLE_CONFIG 
    	<where>
       		${whereStr}
       	</where>
    </select>
    <!-- ##############################################批量生成方法########################################### -->
    
    <!-- ##############################################自定义方法############################################# -->
	
	
	<!-- ##############################################自定义方法############################################# -->
</mapper>