<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- FdUnichangeinfo -->
<mapper namespace="com.boco.SYS.mapper.FdUnichangeinfoMapper">
	<!-- ##############################################批量生成方法########################################### -->
	<cache readOnly="true"/>
	<!-- 返回列表 -->
    <resultMap id="base_result_map" type="com.boco.SYS.entity.FdUnichangeinfo">
       	<id column="UNIAUTHORITYLEVEL" property="uniauthoritylevel"/>
       	<id column="UNIOPERIDEN" property="unioperiden"/>
     	<result column="OPERDEGREE" property="operdegree"/>
     	<result column="REMARK" property="remark"/>
    </resultMap>

	<!-- 列集合 -->
	<sql id="base_column_list">
	    <![CDATA[
        UNIAUTHORITYLEVEL ,UNIOPERIDEN ,OPERDEGREE ,REMARK 
	    ]]>
	</sql>
	
	<!-- 新增一条实体 -->
    <insert id="insertEntity" parameterType="com.boco.SYS.entity.FdUnichangeinfo">
        INSERT INTO FD_UNICHANGEINFO 
        <trim prefix="(" suffix=")" suffixOverrides=",">
	       	<if test="uniauthoritylevel != null">
	        	UNIAUTHORITYLEVEL ,
	       	</if>
	       	<if test="unioperiden != null">
	        	UNIOPERIDEN ,
	       	</if>
	       	<if test="operdegree != null">
	        	OPERDEGREE ,
	       	</if>
	       	<if test="remark != null">
	        	REMARK ,
	       	</if>
	       		last_mod_stamp
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	       	<if test="uniauthoritylevel != null">
	        	#{uniauthoritylevel} ,
	       	</if>
	       	<if test="unioperiden != null">
	        	#{unioperiden} ,
	       	</if>
	       	<if test="operdegree != null">
	        	#{operdegree} ,
	       	</if>
	       	<if test="remark != null">
	        	#{remark} ,
	       	</if>
	       		to_char(current_timestamp,'yyyyMMddHH24MISSMS')
        </trim>
    </insert>
    
    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO FD_UNICHANGEINFO 
       	(UNIAUTHORITYLEVEL ,UNIOPERIDEN ,OPERDEGREE ,REMARK ,last_mod_stamp )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
        	(SELECT #{item.uniauthoritylevel} ,#{item.unioperiden} ,#{item.operdegree} ,#{item.remark} ,to_char(current_timestamp,'yyyyMMddHH24MISSMS')  FROM DUAL)
        </foreach>
    </insert>
    
    <!-- 根据主键删除一条记录 -->
    <delete id="deleteByPK" parameterType="java.util.HashMap">
        DELETE FROM FD_UNICHANGEINFO 
        <where>
        	UNIAUTHORITYLEVEL = #{uniauthoritylevel} and
        	UNIOPERIDEN = #{unioperiden} 
		</where>
    </delete>
    
    <!-- 根据主键删除一条记录(不抛异常,适用先删除后新增的功能,删除时如果没数据不抛异常) -->
    <delete id="deleteByPKNoException" parameterType="java.util.HashMap">
        DELETE FROM FD_UNICHANGEINFO 
        <where>
        	UNIAUTHORITYLEVEL = #{uniauthoritylevel} and
        	UNIOPERIDEN = #{unioperiden} 
		</where>
    </delete>
    
    <!-- 根据主键批量删除记录(只适用单主键的表) -->
    <delete id="deleteBatchByPK" parameterType="java.util.List">
        DELETE FROM FD_UNICHANGEINFO 
        WHERE UNIAUTHORITYLEVELUNIOPERIDEN IN 
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
    </delete>
	
	<!-- 自定义where条件删除，参数为where后的条件字符串，如"id='1' and name='a'" -->    
    <delete id="deleteByWhere" parameterType="java.lang.String">
        DELETE FROM FD_UNICHANGEINFO
        <where>
        	${whereStr}
        </where>
    </delete>

	<!-- 根据主键修改一条记录 -->
    <update id="updateByPK" parameterType="com.boco.SYS.entity.FdUnichangeinfo">
        UPDATE FD_UNICHANGEINFO 
        <set>
       	<if test="operdegree != null">
       		OPERDEGREE = #{operdegree},
       	</if>
       	<if test="remark != null">
       		REMARK = #{remark},
       	</if>
       		last_mod_stamp = to_char(current_timestamp,'yyyyMMddHH24MISSMS'),
        </set>
        <where>
        	UNIAUTHORITYLEVEL = #{uniauthoritylevel} and
        	UNIOPERIDEN = #{unioperiden} 
        </where>
    </update>
    
    <!-- 批量修改，参数：map(column="XXX"，keyList="XXX")-->
    <update id="updateBatch" parameterType="java.util.HashMap">
	    UPDATE FD_UNICHANGEINFO 
		<set>
        </set>
        WHERE id IN 
	    <foreach collection="keyList" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
	</update>
     
    <!-- 自定义where条件修改，参数为where后的条件字符串，如"id='1' and name='a'" -->
    <update id="updateByWhere" parameterType="java.lang.String">
        UPDATE FD_UNICHANGEINFO 
        <set>
       	<if test="uniauthoritylevel != null">
       		UNIAUTHORITYLEVEL = #{uniauthoritylevel},
       	</if>
       	<if test="unioperiden != null">
       		UNIOPERIDEN = #{unioperiden},
       	</if>
       	<if test="operdegree != null">
       		OPERDEGREE = #{operdegree},
       	</if>
       	<if test="remark != null">
       		REMARK = #{remark},
       	</if>
       		last_mod_stamp = to_char(current_timestamp,'yyyyMMddHH24MISSMS'),
        </set>
        <where>
       		${whereStr}
       	</where>
    </update>
    
    <!-- 动态where -->
    <sql id="where_equal">
	 	<if test="uniauthoritylevel != null and uniauthoritylevel != ''">
	 		and UNIAUTHORITYLEVEL = #{uniauthoritylevel}
	 	</if>
	 	<if test="unioperiden != null and unioperiden != ''">
	 		and UNIOPERIDEN = #{unioperiden}
	 	</if>
	 	<if test="operdegree != null and operdegree != ''">
	 		and OPERDEGREE = #{operdegree}
	 	</if>
	 	<if test="remark != null and remark != ''">
	 		and REMARK = #{remark}
	 	</if>
    </sql>
    
    <!-- 模糊查询动态where -->
    <sql id="where_like">
 		<if test="uniauthoritylevel != null and uniauthoritylevel != ''">
 			and UNIAUTHORITYLEVEL like '%' || #{uniauthoritylevel} || '%'
 		</if>
 		<if test="unioperiden != null and unioperiden != ''">
 			and UNIOPERIDEN like '%' || #{unioperiden} || '%'
 		</if>
 		<if test="operdegree != null and operdegree != ''">
 			and OPERDEGREE like '%' || #{operdegree} || '%'
 		</if>
 		<if test="remark != null and remark != ''">
 			and REMARK like '%' || #{remark} || '%'
 		</if>
    </sql>

    <!-- 根据主键查询一条记录 -->
    <select id="selectByPK" parameterType="java.util.HashMap" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/>
        FROM FD_UNICHANGEINFO 
        <where> 
        	UNIAUTHORITYLEVEL = #{uniauthoritylevel} and
        	UNIOPERIDEN = #{unioperiden} 
        </where>
    </select>
    
    <!-- 根据非主键唯一约束查询记录,没有唯一约束时查询所有记录 -->
    <select id="selectByUQ" parameterType="com.boco.SYS.entity.FdUnichangeinfo" resultMap="base_result_map" flushCache="true">
    	SELECT <include refid="base_column_list"/> FROM FD_UNICHANGEINFO
		<where>
		</where>
	</select>
    
    <!-- 根据条件查询记录 -->
    <select id="selectByAttr" parameterType="com.boco.SYS.entity.FdUnichangeinfo" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/> FROM FD_UNICHANGEINFO 
	    <where>
	   		<include refid="where_equal"/>
	    </where>
	    <if test="sortColumn != null and sortColumn != ''">
    		order by ${sortColumn}
    	</if>
    </select>

	<!-- 根据模糊条件查询记录 -->
    <select id="selectByLikeAttr" parameterType="com.boco.SYS.entity.FdUnichangeinfo" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM FD_UNICHANGEINFO 
        <where>
        	<include refid="where_like"/>
        </where>
        <if test="sortColumn != null and sortColumn != ''">
    		order by ${sortColumn}
    	</if>
    </select>
    
    <!-- 通过where语句查询 -->
    <select id="selectByWhere" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM FD_UNICHANGEINFO 
        <where>
        	${whereStr}
        </where>
    </select>
    
    <!-- 根据条件查询记录数 -->
    <select id="countByAttr" parameterType="com.boco.SYS.entity.FdUnichangeinfo" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from FD_UNICHANGEINFO 
    	<where>
    		<include refid="where_equal"/>
    	</where>
    </select>
    
    <!-- 根据模糊条件查询记录数 -->
    <select id="countByLikeAttr" parameterType="com.boco.SYS.entity.FdUnichangeinfo" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from FD_UNICHANGEINFO 
    	<where>
    		<include refid="where_like"/>
    	</where>
    </select>
    
    <!-- 根据自定义条件查询记录数 -->
    <select id="countByWhere" parameterType="java.lang.String" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from FD_UNICHANGEINFO 
    	<where>
       		${whereStr}
       	</where>
    </select>
    <!-- ##############################################批量生成方法########################################### -->
    
    <!-- ##############################################自定义方法############################################# -->
	
	
	<!-- ##############################################自定义方法############################################# -->
</mapper>