<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 发送短信-服务监控状态 -->
<mapper namespace="com.boco.SYS.mapper.MsgMonitorMapper">
	<!-- ##############################################批量生成方法########################################### -->
	<cache readOnly="true"/>
	<!-- 返回列表 -->
    <resultMap id="base_result_map" type="com.boco.SYS.entity.MsgMonitor">
       	<id column="mo_ip" property="moIp"/>
       	<id column="mo_svr_id" property="moSvrId"/>
     	<result column="mo_svr_type" property="moSvrType"/>
     	<result column="mo_svr_run_status" property="moSvrRunStatus"/>
     	<result column="send_count" property="sendCount"/>
    </resultMap>

	<!-- 列集合 -->
	<sql id="base_column_list">
	    <![CDATA[
        mo_ip ,mo_svr_id ,mo_svr_type ,mo_svr_run_status ,send_count 
	    ]]>
	</sql>
	
	<!-- 新增一条实体 -->
    <insert id="insertEntity" parameterType="com.boco.SYS.entity.MsgMonitor">
<!-- 
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">  
	       SELECT SQ_WEB_PUB.Nextval as ID from DUAL
	    </selectKey>
	    -->       
  INSERT INTO msg_monitor 
        <trim prefix="(" suffix=")" suffixOverrides=",">
	       	<if test="moIp != null">
	        	mo_ip ,
	       	</if>
	       	<if test="moSvrId != null">
	        	mo_svr_id ,
	       	</if>
	       	<if test="moSvrType != null">
	        	mo_svr_type ,
	       	</if>
	       	<if test="moSvrRunStatus != null">
	        	mo_svr_run_status ,
	       	</if>
	       	<if test="sendCount != null">
	        	send_count 
	       	</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	       	<if test="moIp != null">
	        	#{moIp} ,
	       	</if>
	       	<if test="moSvrId != null">
	        	#{moSvrId} ,
	       	</if>
	       	<if test="moSvrType != null">
	        	#{moSvrType} ,
	       	</if>
	       	<if test="moSvrRunStatus != null">
	        	#{moSvrRunStatus} ,
	       	</if>
	       	<if test="sendCount != null">
	        	#{sendCount} 
	       	</if>
        </trim>
    </insert>
    
    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO msg_monitor 
        (mo_ip ,mo_svr_id ,mo_svr_type ,mo_svr_run_status ,send_count )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
        	(SELECT #{item.moIp,jdbcType=VARCHAR},#{item.moSvrId,jdbcType=VARCHAR},#{item.moSvrType,jdbcType=VARCHAR},#{item.moSvrRunStatus,jdbcType=VARCHAR},#{item.sendCount,jdbcType=VARCHAR} FROM DUAL)
        </foreach>
    </insert>
    
    <!-- 根据主键删除一条记录 -->
    <delete id="deleteByPK" parameterType="java.util.HashMap">
        DELETE FROM msg_monitor 
        <where>
        	mo_ip = #{moIp} and
        	mo_svr_id = #{moSvrId} 
		</where>
    </delete>
    
    <!-- 根据主键删除一条记录(不抛异常,适用先删除后新增的功能,删除时如果没数据不抛异常) -->
    <delete id="deleteByPKNoException" parameterType="java.util.HashMap">
        DELETE FROM msg_monitor 
        <where>
        	mo_ip = #{moIp} and
        	mo_svr_id = #{moSvrId} 
		</where>
    </delete>
    
    <!-- 根据主键批量删除记录(只适用单主键的表) -->
    <delete id="deleteBatchByPK" parameterType="java.util.List">
        DELETE FROM msg_monitor 
        WHERE mo_ipmo_svr_id IN 
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
    </delete>
	
	<!-- 自定义where条件删除，参数为where后的条件字符串，如"id='1' and name='a'" -->    
    <delete id="deleteByWhere" parameterType="java.lang.String">
        DELETE FROM msg_monitor
        <where>
        	${whereStr}
        </where>
    </delete>

	<!-- 根据主键修改一条记录 -->
    <update id="updateByPK" parameterType="com.boco.SYS.entity.MsgMonitor">
        UPDATE msg_monitor 
        <set>
       	<if test="moSvrType != null">
       		mo_svr_type = #{moSvrType},
       	</if>
       	<if test="moSvrRunStatus != null">
       		mo_svr_run_status = #{moSvrRunStatus},
       	</if>
       	<if test="sendCount != null">
       		send_count = #{sendCount},
       	</if>
        </set>
        <where>
        	mo_ip = #{moIp} and
        	mo_svr_id = #{moSvrId} 
        </where>
    </update>
    
    <!-- 批量修改，参数：map(column="XXX"，keyList="XXX")-->
    <update id="updateBatch" parameterType="java.util.HashMap">
	    UPDATE msg_monitor 
		<set>
        </set>
        WHERE id IN 
	    <foreach collection="keyList" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
	</update>
     
    <!-- 自定义where条件修改，参数为where后的条件字符串，如"id='1' and name='a'" -->
    <update id="updateByWhere" parameterType="java.lang.String">
        UPDATE msg_monitor 
        <set>
       	<if test="moIp != null">
       		mo_ip = #{moIp},
       	</if>
       	<if test="moSvrId != null">
       		mo_svr_id = #{moSvrId},
       	</if>
       	<if test="moSvrType != null">
       		mo_svr_type = #{moSvrType},
       	</if>
       	<if test="moSvrRunStatus != null">
       		mo_svr_run_status = #{moSvrRunStatus},
       	</if>
       	<if test="sendCount != null">
       		send_count = #{sendCount},
       	</if>
        </set>
        <where>
       		${whereStr}
       	</where>
    </update>
    
    <!-- 动态where -->
    <sql id="where_equal">
	 	<if test="moIp != null and moIp != ''">
	 		and mo_ip = #{moIp}
	 	</if>
	 	<if test="moSvrId != null and moSvrId != ''">
	 		and mo_svr_id = #{moSvrId}
	 	</if>
	 	<if test="moSvrType != null and moSvrType != ''">
	 		and mo_svr_type = #{moSvrType}
	 	</if>
	 	<if test="moSvrRunStatus != null and moSvrRunStatus != ''">
	 		and mo_svr_run_status = #{moSvrRunStatus}
	 	</if>
	 	<if test="sendCount != null and sendCount != ''">
	 		and send_count = #{sendCount}
	 	</if>
    </sql>
    
    <!-- 模糊查询动态where -->
    <sql id="where_like">
 		<if test="moIp != null and moIp != ''">
 			and mo_ip like '%' || #{moIp} || '%'
 		</if>
 		<if test="moSvrId != null and moSvrId != ''">
 			and mo_svr_id like '%' || #{moSvrId} || '%'
 		</if>
 		<if test="moSvrType != null and moSvrType != ''">
 			and mo_svr_type like '%' || #{moSvrType} || '%'
 		</if>
 		<if test="moSvrRunStatus != null and moSvrRunStatus != ''">
 			and mo_svr_run_status like '%' || #{moSvrRunStatus} || '%'
 		</if>
 		<if test="sendCount != null and sendCount != ''">
 			and send_count like '%' || #{sendCount} || '%'
 		</if>
    </sql>

    <!-- 根据主键查询一条记录 -->
    <select id="selectByPK" parameterType="java.util.HashMap" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/>
        FROM msg_monitor 
        <where> 
        	mo_ip = #{moIp} and
        	mo_svr_id = #{moSvrId} 
        </where>
    </select>
    
    <!-- 根据非主键唯一约束查询记录,没有唯一约束时查询所有记录 -->
    <select id="selectByUQ" parameterType="com.boco.SYS.entity.MsgMonitor" resultMap="base_result_map" flushCache="true">
    	SELECT <include refid="base_column_list"/> FROM msg_monitor
		<where>
		</where>
	</select>
    
    <!-- 根据条件查询记录 -->
    <select id="selectByAttr" parameterType="com.boco.SYS.entity.MsgMonitor" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/> FROM msg_monitor 
	    <where>
	   		<include refid="where_equal"/>
	    </where>
	    <if test="sortColumn != null and sortColumn != ''">
    		order by ${sortColumn}
    	</if>
    </select>

	<!-- 根据模糊条件查询记录 -->
    <select id="selectByLikeAttr" parameterType="com.boco.SYS.entity.MsgMonitor" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM msg_monitor 
        <where>
        	<include refid="where_like"/>
        </where>
        <if test="sortColumn != null and sortColumn != ''">
    		group by ${sortColumn}
    	</if>
    </select>
    
    <!-- 通过where语句查询 -->
    <select id="selectByWhere" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM msg_monitor 
        <where>
        	${whereStr}
        </where>
    </select>
    
    <!-- 根据条件查询记录数 -->
    <select id="countByAttr" parameterType="com.boco.SYS.entity.MsgMonitor" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from msg_monitor 
    	<where>
    		<include refid="where_equal"/>
    	</where>
    </select>
    
    <!-- 根据模糊条件查询记录数 -->
    <select id="countByLikeAttr" parameterType="com.boco.SYS.entity.MsgMonitor" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from msg_monitor 
    	<where>
    		<include refid="where_like"/>
    	</where>
    </select>
    
    <!-- 根据自定义条件查询记录数 -->
    <select id="countByWhere" parameterType="java.lang.String" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from msg_monitor 
    	<where>
       		${whereStr}
       	</where>
    </select>
    <!-- ##############################################批量生成方法########################################### -->
    
    <!-- ##############################################自定义方法############################################# -->
	
	
	<!-- ##############################################自定义方法############################################# -->
</mapper>