<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- TbSystemCtrlStatus -->
<mapper namespace="com.boco.SYS.mapper.TbSystemCtrlStatusMapper">
	<!-- ##############################################批量生成方法########################################### -->
	<cache readOnly="true"/>
	<!-- 返回列表 -->
    <resultMap id="base_result_map" type="com.boco.SYS.entity.TbSystemCtrlStatus">
       	<id column="systemid" property="systemid"/>
     	<result column="system_status" property="systemStatus"/>
    </resultMap>

	<!-- 列集合 -->
	<sql id="base_column_list">
	    <![CDATA[
        systemid ,system_status 
	    ]]>
	</sql>
	
	<!-- 新增一条实体 -->
    <insert id="insertEntity" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus">
<!-- 
	    -->       
  INSERT INTO tb_system_ctrl_status 
        <trim prefix="(" suffix=")" suffixOverrides=",">
	       	<if test="systemid != null">
	        	systemid ,
	       	</if>
	       	<if test="systemStatus != null">
	        	system_status 
	       	</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	       	<if test="systemid != null">
	        	#{systemid} ,
	       	</if>
	       	<if test="systemStatus != null">
	        	#{systemStatus} 
	       	</if>
        </trim>
    </insert>
    
    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO tb_system_ctrl_status 
        (systemid ,system_status )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
        	(SELECT #{item.systemid,jdbcType=VARCHAR},#{item.systemStatus,jdbcType=VARCHAR} FROM DUAL)
        </foreach>
    </insert>
    
    <!-- 根据主键删除一条记录 -->
    <delete id="deleteByPK" parameterType="java.lang.String">
        DELETE FROM tb_system_ctrl_status 
        <where>
        	systemid = #{systemid} 
		</where>
    </delete>
    
    <!-- 根据主键删除一条记录(不抛异常,适用先删除后新增的功能,删除时如果没数据不抛异常) -->
    <delete id="deleteByPKNoException" parameterType="java.lang.String">
        DELETE FROM tb_system_ctrl_status 
        <where>
        	systemid = #{systemid} 
		</where>
    </delete>
    
    <!-- 根据主键批量删除记录(只适用单主键的表) -->
    <delete id="deleteBatchByPK" parameterType="java.util.List">
        DELETE FROM tb_system_ctrl_status 
        WHERE systemid IN 
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
    </delete>
	
	<!-- 自定义where条件删除，参数为where后的条件字符串，如"id='1' and name='a'" -->    
    <delete id="deleteByWhere" parameterType="java.lang.String">
        DELETE FROM tb_system_ctrl_status
        <where>
        	${whereStr}
        </where>
    </delete>

	<!-- 根据主键修改一条记录 -->
    <update id="updateByPK" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus">
        UPDATE tb_system_ctrl_status 
        <set>
       	<if test="systemStatus != null">
       		system_status = #{systemStatus},
       	</if>
        </set>
        <where>
        	systemid = #{systemid} 
        </where>
    </update>
    
    <!-- 批量修改，参数：map(column="XXX"，keyList="XXX")-->
    <update id="updateBatch" parameterType="java.util.HashMap">
	    UPDATE tb_system_ctrl_status 
		<set>
        </set>
        WHERE id IN 
	    <foreach collection="keyList" item="item" index="index" open="(" separator="," close=")">
        #{item}
		</foreach>
	</update>
     
    <!-- 自定义where条件修改，参数为where后的条件字符串，如"id='1' and name='a'" -->
    <update id="updateByWhere" parameterType="java.lang.String">
        UPDATE tb_system_ctrl_status 
        <set>
       	<if test="systemid != null">
       		systemid = #{systemid},
       	</if>
       	<if test="systemStatus != null">
       		system_status = #{systemStatus},
       	</if>
        </set>
        <where>
       		${whereStr}
       	</where>
    </update>
    
    <!-- 动态where -->
    <sql id="where_equal">
	 	<if test="systemid != null and systemid != ''">
	 		and systemid = #{systemid}
	 	</if>
	 	<if test="systemStatus != null and systemStatus != ''">
	 		and system_status = #{systemStatus}
	 	</if>
    </sql>
    
    <!-- 模糊查询动态where -->
    <sql id="where_like">
 		<if test="systemid != null and systemid != ''">
 			and systemid like '%' || #{systemid} || '%'
 		</if>
 		<if test="systemStatus != null and systemStatus != ''">
 			and system_status like '%' || #{systemStatus} || '%'
 		</if>
    </sql>

    <!-- 根据主键查询一条记录 -->
    <select id="selectByPK" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/>
        FROM tb_system_ctrl_status 
        <where> 
        	systemid = #{systemid} 
        </where>
    </select>
    
    <!-- 根据非主键唯一约束查询记录,没有唯一约束时查询所有记录 -->
    <select id="selectByUQ" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus" resultMap="base_result_map" flushCache="true">
    	SELECT <include refid="base_column_list"/> FROM tb_system_ctrl_status
		<where>
		</where>
	</select>
    
    <!-- 根据条件查询记录 -->
    <select id="selectByAttr" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus" resultMap="base_result_map" flushCache="true">
	    SELECT <include refid="base_column_list"/> FROM tb_system_ctrl_status 
	    <where>
	   		<include refid="where_equal"/>
	    </where>
	    <if test="sortColumn != null and sortColumn != ''">
    		order by ${sortColumn}
    	</if>
    </select>

	<!-- 根据模糊条件查询记录 -->
    <select id="selectByLikeAttr" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM tb_system_ctrl_status 
        <where>
        	<include refid="where_like"/>
        </where>
        <if test="sortColumn != null and sortColumn != ''">
    		group by ${sortColumn}
    	</if>
    </select>
    
    <!-- 通过where语句查询 -->
    <select id="selectByWhere" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT <include refid="base_column_list"/> FROM tb_system_ctrl_status 
        <where>
        	${whereStr}
        </where>
    </select>
    
    <!-- 根据条件查询记录数 -->
    <select id="countByAttr" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from tb_system_ctrl_status 
    	<where>
    		<include refid="where_equal"/>
    	</where>
    </select>
    
    <!-- 根据模糊条件查询记录数 -->
    <select id="countByLikeAttr" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from tb_system_ctrl_status 
    	<where>
    		<include refid="where_like"/>
    	</where>
    </select>
    
    <!-- 根据自定义条件查询记录数 -->
    <select id="countByWhere" parameterType="java.lang.String" resultType="java.lang.Integer" flushCache="true">
    	select count(*) from tb_system_ctrl_status 
    	<where>
       		${whereStr}
       	</where>
    </select>

	<!-- ##############################################批量生成方法########################################### -->
    
    <!-- ##############################################自定义方法############################################# -->
	<select id="selectTbSystemCtrlStatus" parameterType="com.boco.SYS.entity.TbSystemCtrlStatus"
			resultType="java.util.Map" flushCache="true">

		SELECT
			sys.systemid systemid,
			sys.system_status systemstatus,
			gf.dict_value_in systemname
		FROM tb_system_ctrl_status sys
		left join gf_dict gf
		on	gf.dict_no = 'SYSTEM_CTRL_STATUS_TYPE'
		and sys.systemid = gf.dict_key_in
		<where>
			<include refid="where_equal"/>
		</where>
		order by sys.systemid
	</select>
	
	<!-- ##############################################自定义方法############################################# -->
</mapper>