<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- WebRoleInfo -->
<mapper namespace="com.boco.SYS.mapper.WebRoleInfoMapper">
    <!-- ##############################################批量生成方法########################################### -->
    <cache readOnly="true"/>
    <!-- 返回列表 -->
    <resultMap id="base_result_map" type="com.boco.SYS.entity.WebRoleInfo">
        <id column="ROLE_CODE" property="roleCode"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="ORGAN_LEVEL" property="organLevel"/>
        <result column="LATEST_MODIFY_DATE" property="latestModifyDate"/>
        <result column="LATEST_MODIFY_TIME" property="latestModifyTime"/>
        <result column="LATEST_OPER_CODE" property="latestOperCode"/>
    </resultMap>

    <!-- 列集合 -->
    <sql id="base_column_list">
	    <![CDATA[
        ROLE_CODE ,ROLE_NAME ,ORGAN_LEVEL ,LATEST_MODIFY_DATE ,LATEST_MODIFY_TIME ,LATEST_OPER_CODE
        ]]>
	</sql>

    <!-- 新增一条实体 -->
    <insert id="insertEntity" parameterType="com.boco.SYS.entity.WebRoleInfo">
        INSERT INTO WEB_ROLE_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleCode != null">
                ROLE_CODE ,
            </if>
            <if test="roleName != null">
                ROLE_NAME ,
            </if>
            <if test="organLevel != null">
                ORGAN_LEVEL ,
            </if>
            <if test="latestModifyDate != null">
                LATEST_MODIFY_DATE ,
            </if>
            <if test="latestModifyTime != null">
                LATEST_MODIFY_TIME ,
            </if>
            <if test="latestOperCode != null">
                LATEST_OPER_CODE ,
            </if>
            LAST_MOD_STAMP
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleCode != null">
                #{roleCode} ,
            </if>
            <if test="roleName != null">
                #{roleName} ,
            </if>
            <if test="organLevel != null">
                #{organLevel} ,
            </if>
            <if test="latestModifyDate != null">
                #{latestModifyDate} ,
            </if>
            <if test="latestModifyTime != null">
                #{latestModifyTime} ,
            </if>
            <if test="latestOperCode != null">
                #{latestOperCode} ,
            </if>
            to_char(current_timestamp,'yyyyMMddHH24MISSMS')
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO WEB_ROLE_INFO
        (ROLE_CODE ,ROLE_NAME ,ORGAN_LEVEL ,LATEST_MODIFY_DATE ,LATEST_MODIFY_TIME ,LATEST_OPER_CODE ,LAST_MOD_STAMP)
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            (SELECT #{item.roleCode} ,#{item.roleName} ,#{item.organLevel} ,#{item.latestModifyDate}
            ,#{item.latestModifyTime} ,#{item.latestOperCode} ,to_char(current_timestamp,'yyyyMMddHH24MISSMS') FROM
            DUAL)
        </foreach>
    </insert>

    <!-- 根据主键删除一条记录 -->
    <delete id="deleteByPK" parameterType="java.lang.String">
        DELETE FROM WEB_ROLE_INFO
        <where>
            ROLE_CODE = #{roleCode}
        </where>
    </delete>

    <!-- 根据主键删除一条记录(不抛异常,适用先删除后新增的功能,删除时如果没数据不抛异常) -->
    <delete id="deleteByPKNoException" parameterType="java.lang.String">
        DELETE FROM WEB_ROLE_INFO
        <where>
            ROLE_CODE = #{roleCode}
        </where>
    </delete>

    <!-- 根据主键批量删除记录(只适用单主键的表) -->
    <delete id="deleteBatchByPK" parameterType="java.util.List">
        DELETE FROM WEB_ROLE_INFO
        WHERE ROLE_CODE IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 自定义where条件删除，参数为where后的条件字符串，如"id='1' and name='a'" -->
    <delete id="deleteByWhere" parameterType="java.lang.String">
        DELETE FROM WEB_ROLE_INFO
        <where>
            ${whereStr}
        </where>
    </delete>

    <!-- 根据主键修改一条记录 -->
    <update id="updateByPK" parameterType="com.boco.SYS.entity.WebRoleInfo">
        UPDATE WEB_ROLE_INFO
        <set>
            <if test="roleName != null">
                ROLE_NAME = #{roleName},
            </if>
            <if test="organLevel != null">
                ORGAN_LEVEL = #{organLevel},
            </if>
            <if test="latestModifyDate != null">
                LATEST_MODIFY_DATE = #{latestModifyDate},
            </if>
            <if test="latestModifyTime != null">
                LATEST_MODIFY_TIME = #{latestModifyTime},
            </if>
            <if test="latestOperCode != null">
                LATEST_OPER_CODE = #{latestOperCode},
            </if>
            LAST_MOD_STAMP = to_char(current_timestamp,'yyyyMMddHH24MISSMS'),
        </set>
        <where>
            ROLE_CODE = #{roleCode}
        </where>
    </update>

    <!-- 批量修改，参数：map(column="XXX"，keyList="XXX")-->
    <update id="updateBatch" parameterType="java.util.HashMap">
        UPDATE WEB_ROLE_INFO
        <set>
        </set>
        WHERE id IN
        <foreach collection="keyList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 自定义where条件修改，参数为where后的条件字符串，如"id='1' and name='a'" -->
    <update id="updateByWhere" parameterType="java.lang.String">
        UPDATE WEB_ROLE_INFO
        <set>
            <if test="roleCode != null">
                ROLE_CODE = #{roleCode},
            </if>
            <if test="roleName != null">
                ROLE_NAME = #{roleName},
            </if>
            <if test="organLevel != null">
                ORGAN_LEVEL = #{organLevel},
            </if>
            <if test="latestModifyDate != null">
                LATEST_MODIFY_DATE = #{latestModifyDate},
            </if>
            <if test="latestModifyTime != null">
                LATEST_MODIFY_TIME = #{latestModifyTime},
            </if>
            <if test="latestOperCode != null">
                LATEST_OPER_CODE = #{latestOperCode},
            </if>
            LAST_MOD_STAMP = to_char(current_timestamp,'yyyyMMddHH24MISSMS'),
        </set>
        <where>
            ${whereStr}
        </where>
    </update>

    <!-- 动态where -->
    <sql id="where_equal">
        <if test="roleCode != null and roleCode != ''">
            and ROLE_CODE = #{roleCode}
        </if>
        <if test="roleName != null and roleName != ''">
            and ROLE_NAME = #{roleName}
        </if>
        <if test="organLevel != null and organLevel != ''">
            and ORGAN_LEVEL = #{organLevel}
        </if>
        <if test="latestModifyDate != null and latestModifyDate != ''">
            and LATEST_MODIFY_DATE = #{latestModifyDate}
        </if>
        <if test="latestModifyTime != null and latestModifyTime != ''">
            and LATEST_MODIFY_TIME = #{latestModifyTime}
        </if>
        <if test="latestOperCode != null and latestOperCode != ''">
            and LATEST_OPER_CODE = #{latestOperCode}
        </if>
    </sql>

    <!-- 模糊查询动态where -->
    <sql id="where_like">
        <if test="roleCode != null and roleCode != ''">
            and ROLE_CODE like '%' || #{roleCode} || '%'
        </if>
        <if test="roleName != null and roleName != ''">
            and ROLE_NAME like '%' || #{roleName} || '%'
        </if>
        <if test="organLevel != null and organLevel != ''">
            and ORGAN_LEVEL like '%' || #{organLevel} || '%'
        </if>
        <if test="latestModifyDate != null and latestModifyDate != ''">
            and LATEST_MODIFY_DATE like '%' || #{latestModifyDate} || '%'
        </if>
        <if test="latestModifyTime != null and latestModifyTime != ''">
            and LATEST_MODIFY_TIME like '%' || #{latestModifyTime} || '%'
        </if>
        <if test="latestOperCode != null and latestOperCode != ''">
            and LATEST_OPER_CODE like '%' || #{latestOperCode} || '%'
        </if>
    </sql>

    <!-- 根据主键查询一条记录 -->
    <select id="selectByPK" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            ROLE_CODE = #{roleCode}
        </where>
    </select>

    <!-- 超级管理员加载赋予角色菜单 -->
    <select id="selectBySuperAdmin" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            organ_level=#{_param}
        </where>
    </select>

    <!-- 总行人员加载赋予角色菜单 -->
    <select id="selectByOrganLevelZero" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            organ_level='0'
            and role_code not in (${organLevelZero})
        </where>
    </select>

    <!-- 一分人员加载赋予角色菜单 -->
    <select id="selectByOrganLevelOne" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            organ_level='1'
            and role_code not in (${organLevelOne})
        </where>
    </select>

    <!-- 二分人员加载赋予角色菜单 -->
    <select id="selectByOrganLevelTwo" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            organ_level='2'
            and role_code not in (${organLevelTwo})
        </where>
    </select>

    <!-- 根据非主键唯一约束查询记录,没有唯一约束时查询所有记录 -->
    <select id="selectByUQ" parameterType="com.boco.SYS.entity.WebRoleInfo" resultMap="base_result_map"
            flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
        </where>
    </select>

    <!-- 根据条件查询记录 -->
    <select id="selectByAttr" parameterType="com.boco.SYS.entity.WebRoleInfo" resultMap="base_result_map"
            flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            <include refid="where_equal"/>
        </where>
        <if test="sortColumn != null and sortColumn != ''">
            order by ${sortColumn}
        </if>
    </select>

    <!-- 根据模糊条件查询记录 -->
    <select id="selectByLikeAttr" parameterType="com.boco.SYS.entity.WebRoleInfo" resultMap="base_result_map"
            flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            <include refid="where_like"/>
        </where>
        <if test="sortColumn != null and sortColumn != ''">
            order by ${sortColumn}
        </if>
    </select>

    <!-- 通过where语句查询 -->
    <select id="selectByWhere" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            ${whereStr}
        </where>
    </select>

    <!-- 根据条件查询记录数 -->
    <select id="countByAttr" parameterType="com.boco.SYS.entity.WebRoleInfo" resultType="java.lang.Integer"
            flushCache="true">
        select count(*) from WEB_ROLE_INFO
        <where>
            <include refid="where_equal"/>
        </where>
    </select>

    <!-- 根据模糊条件查询记录数 -->
    <select id="countByLikeAttr" parameterType="com.boco.SYS.entity.WebRoleInfo" resultType="java.lang.Integer"
            flushCache="true">
        select count(*) from WEB_ROLE_INFO
        <where>
            <include refid="where_like"/>
        </where>
    </select>

    <!-- 根据自定义条件查询记录数 -->
    <select id="countByWhere" parameterType="java.lang.String" resultType="java.lang.Integer" flushCache="true">
        select count(*) from WEB_ROLE_INFO
        <where>
            ${whereStr}
        </where>
    </select>

    <!-- 角色名称模糊查询记录 -->
    <select id="selectByLike" parameterType="com.boco.SYS.entity.WebRoleInfo" resultMap="base_result_map"
            flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            <if test="roleCode != null and roleCode != ''">
                and ROLE_CODE like '%' || #{roleCode} || '%'
            </if>
            <if test="roleName != null and roleName != ''">
                and ROLE_NAME like '%' || #{roleName} || '%'
            </if>
        </where>
        order by latest_modify_date desc,latest_modify_time desc
    </select>

    <select id="selectByLikeOrder" parameterType="com.boco.SYS.entity.WebRoleInfo" resultMap="base_result_map"
            flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        <where>
            <if test="roleCode != null and roleCode != ''">
                and ROLE_CODE = #{roleCode}
            </if>
            <if test="roleName != null and roleName != ''">
                and ROLE_NAME like '%' || #{roleName} || '%'
            </if>
        </where>
        <if test="sortColumn != null and sortColumn !=''">
            order by ${sortColumn}
        </if>
    </select>

    <!-- 角色名称模糊查询记录 -->
    <select id="selectByOrganLevel" parameterType="java.lang.String" resultMap="base_result_map" flushCache="true">
        SELECT
        <include refid="base_column_list"/>
        FROM WEB_ROLE_INFO
        where organ_level=#{organLevel}
            <if test="organLevel == '0' and operCode != '11005293'">
                and role_code not in '111'
            </if>
    </select>
    <!-- ##############################################批量生成方法########################################### -->

    <!-- ##############################################自定义方法############################################# -->
    <!-- 联想输入角色代码 -->
    <select id="selectRoleCode" parameterType="com.boco.SYS.entity.WebRoleInfo" resultType="java.util.HashMap"
            flushCache="true">
        SELECT ROLE_CODE
        FROM WEB_ROLE_INFO
        WHERE ROLE_CODE LIKE '%${roleCode}%'
    </select>
    <!-- 联想输入角色名称 -->
    <select id="selectRoleName" parameterType="com.boco.SYS.entity.WebRoleInfo" resultType="java.util.HashMap"
            flushCache="true">
        SELECT ROLE_NAME
        FROM WEB_ROLE_INFO
        WHERE ROLE_NAME LIKE '%${roleName}%'
    </select>
    <!-- 根据角色编码集查询数据 -->
    <select id="selectByRoleCodes" parameterType="java.util.HashMap" resultMap="base_result_map" flushCache="true">
        select
        <include refid="base_column_list"/>
        from WEB_ROLE_INFO role
        where role.role_code in (
        <foreach collection="roleCodes" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
        <if test="sortColumn != null and sortColumn != ''">
            order by ${sortColumn}
        </if>
    </select>
    <!-- ##############################################自定义方法############################################# -->
</mapper>